@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

/* animations */
@keyframes arrow {
  from{bottom: 6%;}
  to{bottom: 12%;}
}

@keyframes appear {
  0%{opacity: 0;}
  99%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes line {
  from{border-right-color: #555;}
  to{border-right-color: transparent;}
}

@keyframes writing {
  0%{width: 0; border-right: 2px solid #555;}
  100%{border-right: 2px solid #555;}
}

@keyframes opacity {
  from{opacity: 1;}
  to{opacity: 0;}
}

@keyframes s1 {
  from{transform: rotate(0deg)}
  to{transform: translateY(10px) rotate(-45deg); width: 110%;}
}

@keyframes s3 {
  from{transform: rotate(0deg)}
  to{transform: translateY(-8px) rotate(45deg); width: 110%;}
}

*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root{
  --highlithColor: rgb(69, 199, 175);
  --maxWidth: 1200px;
  --header: 76px;
}

/* general */
html, body{
  background-color: #eee;
}

.span{
  color: #000;
}

.container{
  width: 90%;
}

.container, .full-container{
  max-width: var(--maxWidth);
  margin: auto;
  overflow: hidden;
}

.between{
  display: flex;
  justify-content: space-between;
}

.between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.around-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.evenly-center{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.center{
  display: flex;
  align-items: center;
}

.center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
}

.disable{
  display: none;
}

/* Mode dark/light */
.bgDark{
  background-color: #000 !important;
}

.letterLight{
  color: #ffffff !important;
}

.letterLight2{
  color: #d4d4d4;
}

.showcaseOpacity{
  opacity: .3 !important;
}

.box-shadow{
  box-shadow: 0 1px 0 #dfdfdf !important;
}

/* scrollbar */
::-webkit-scrollbar{
  width: .5em;
}

::-webkit-scrollbar-track{
  background-color: #000000;
}

::-webkit-scrollbar-thumb{
  background-color: var(--highlithColor);
  border-radius: 30px;
}

/* Animations scrollbar */

[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="botton"] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/* header */
header{
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header .navbar{
  height: var(--header);
  padding-top: 1em;
}

.brand{
  max-width: 75px;
}

.name{
  position: absolute;
  width: 0;
  overflow: hidden;
  opacity: 0;
}

.nav-item{
  margin: 0 .2em;
  padding: .2em .3em;
  border: transparent solid 2px;
  border-radius: 0 0 .5em;
}

.icon-social{
  width: 1.2em;
  margin: 0 .5em;
  cursor: pointer;
}

.nav-item:hover{
  border-bottom: 2px var(--highlithColor) solid;
  border-right: 2px var(--highlithColor) solid;
  border-radius: 0 0 5px;
}

/* Button menu */
.btn-menu .sand{
  width: 2.5em;
  height: 1.5em;
}

.btn-menu .s{
  background-color: var(--highlithColor);
  width: 100%;
  height: 6px;
  margin: .2em 0;
  border-radius: 5px;
}

.btn-menu .opens1{
  animation: s1 .2s forwards;
}
.btn-menu .opens2{
  animation: opacity .2s forwards;
}
.btn-menu .opens3{
  animation: s3 .2s forwards;
}

.btn-menu .closes1{
  animation: s1 .2s forwards reverse;
}
.btn-menu .closes2{
  animation: opacity .2s forwards reverse;
}
.btn-menu .closes3{
  animation: s3 .2s forwards reverse;
}

/* Showcase */
.showcase{
  height: 100vh;
  position: relative;
  border-bottom:  1px #e4e4e450 solid;
}

.showcase .text{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -60%);
}

.showcase p{
  font-size: 2em;
  color: #999;
  font-weight: 300;
}

.showcase .writing{
  width: 4.75em;
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
}

.showcase .diff1{
  animation: appear 1s normal, line .5s infinite normal, writing 1s 1s steps(8) normal;
}
.showcase .diff2{
  width: 6.85em;
  animation: appear 2.2s normal, line .5s infinite normal, writing 1s 2.1s steps(12) normal;
}
.showcase .diff3{
  border-right: 2px solid #e4e4e4;
  animation: appear 3.3s normal,  line .5s infinite normal, writing 1s 3.2s steps(8) normal;
}

.showcase .bg-img{
  width: 70vh;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .03;
}

.arrow{
  width: 2em;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  animation: arrow .6s 4s alternate infinite;
}

/* Subtitles */
.subtitle{
  color: #999;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  padding: 1em 0;
}

.subtitle span{
  font-size: 1.1em;
  font-weight: bold;
}

/* skills */
.skills{
  min-height: calc(100vh - var(--header));
  border-bottom:  1px #e4e4e450 solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skills .cards{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0 .5em;
}

.skills .card{
  min-width: 25%;
  padding: 0 .5em;
} 

.skills img{
  width: 3em;
}

.skills h2{
  margin: 0 .5em;
}

.skills p{
  font-weight: 300;
  text-align: center;
}

.skills .techs{
  margin: 1em;
}

/* projects */
.projects{
  height: calc(100vh - var(--header));
  border-bottom:  1px #e4e4e450 solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projects .show{
  position: relative;
  width: 90%;
  max-width: 600px;
}

.show img{
  width: 100%;
}

.show .button{
  background-color: #00000050;
  width: 100%;
  height: 6em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.show button{
  background-color: #000000;
  color: var(--highlithColor);
  width: 30%;
  margin: 0 1em;
  padding: .2em .5em;
  border-radius: 5px;
  border: 2px solid var(--highlithColor);
  cursor: pointer;
  font-size: 1.29em;
}

.show .deploy{
  background-color: var(--highlithColor);
  border-color: #000;
  color: #000;
}

.slides{
  width: 100%;
}

.slides .mini{
  display: flex;
  margin: 2em 0;
  overflow: auto;
  white-space: nowrap;
}

.slides .mini::-webkit-scrollbar-thumb{
  background-color: transparent;
}

.slides .card{
  min-width: 120px;
  max-width: 180px;
  margin: 0 .5em;
  padding: .1em;
  cursor: pointer;
}

.slides .card img{
  width: 100%;
  min-width: 100px;
}

.slides .current{
  border: 4px solid var(--highlithColor);
  border-radius: 5px;
}

.slides .navigation{
  width: 40px;
}


/* About */
.about{
  position: relative;
  min-height: calc(100vh - var(--header));
  border-bottom:  1px #e4e4e450 solid;
  overflow: hidden;
}

.about img{
  position: absolute;
  top: 0;
  left: 0;
  width: 502px;
  border-left: 2px solid var(--highlithColor);
  border-bottom: 2px solid var(--highlithColor);
  opacity: .6;
}

.about p{
  position: absolute;
  top: 50%;
  right: 0;
  width: 70%;
  padding: 1em;
  text-indent: 15px;
  font-weight: 300;
}

/* Contact */
.contact{
  border-bottom:  1px #e4e4e450 solid;
}

.contacts{
  margin: 2em;
}

.contact h2{
  text-align: center;
  padding: 1em 0;
}

.contact img{
  max-width: 50px;
}

/* Footer */
footer{
  color: #999;
  font-weight: 300;
  padding: 2em;
  text-align: center;
}

footer span{
  font-weight: bold;
}

@media screen and (width >= 768px) {
  .btn-menu{
    display: none;
  }

  .nav-list{
    display: flex;
  }

}

@media screen and (width < 768px){
  .nav-list{
    background-color: #1f1f1f;
    position: absolute;
    top: calc(var(--header));
    left: 50%;
    transform: translate(-50%,0);
    flex-direction: column;
    width: 100%;
    padding: 1em;
    animation: opacity .2s reverse;
  }

  .nav-item, .social{
    padding: 1em;
  }

  .skills .cards{
    grid-template-columns: auto auto;
  }

  .skills .card{
    margin: 1em 0;
  }
  
  .about img{
    top: 0;
    width: 400px;
  }

  .about p{
    top: 30%;
    width: 60%;
  }


}

@media screen and (width < 500px){
  .skills .cards{
    grid-template-columns: auto;
  }

  .projects .button{
    justify-content: space-evenly;
  }

  .button .deploy, .button .project{
    min-width: 110px;
    margin: 0;
    padding: .15em 0;
  }  

  .about img{
    top: 100%;
    transform: translateY(-100%);
    width: 300px;
    opacity: .5;
  }

}

@media screen and (width <= 410px){
  .skills .techs{
    display: flex;
    flex-wrap: wrap;
  }

  .skills .tech{
    padding: 1.5em;
  }

  .contact .contacts{
    display: grid;
    grid-template-columns: auto auto;
  }

  .contact a{
    padding: 1em;
  }

}